mo
@{
    ViewBag.Title = "PopuniOsobu";
}

<h2>PopuniOsobu</h2>
<div>
    <form> method="post"
        <div>
            <label>ime:</label>
            <input type="text" name="ime" value="@Modelime"/>
        </div>
        <div>
            <label>prezime:</label>
            <input type="text" name="prezime" value="@Modelprezime" />
        </div>
        <div>
            <label>Email:</label>
            <input type="text" name="EMAIL" value="@Email" />
        </div>
    </form>
</div>
<

