
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pozdrav</title>
</head>
<body>
    moj prvi pozdrav s kontrolera
    <div> 
    </div>
</body>
</html>
