@Model DateTime
@{
    ViewBag.Title = "RacunajBrojGodina";
}

<h2>RacunajBrojGodina</h2>

    ViewBag.Title 

<form action= "RacunajBrojGodina" method="post">
    <input type="text" name="Datum"/>
    <input type="submit" name="Racunaj"/>


</form>
  Broj godina od datum koji je unešen u formu je @Model 
